body{
	background: #cceeff;
	width: 600px;
	margin: auto;
}

div{
	text-align: center;
	border:1px solid white; 
}
.joy{
	border-style: solid;
	border-width: 2px
	b;
}
	
.yes{
	border-style: solid;
	border-width: 2px
	border-color: #ffffff;
}
}