.wrap{
	background: #33ffbb;
}
body{
	background: #e6ffff;
	margin: 50px;
	width: 750px;

}

aside ul {
	text-decoration: none;
	background-color: #99ffd6;
	list-style-type: none;
	line-height: 40px;
	float: right;
	position: 
}